/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');

:root {
  --primary: hsl(225, 100%, 94%);
  --primary-alt: #3829e0;

  --secondary: hsl(225, 100%, 98%);
  --secondary-alt: hsl(224, 23%, 55%);

  --dark: #1f2f56;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}
