.wrapper {
  padding: 25px;

  .title {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    // font-weight: 700;
    color: #DA8B50;
    letter-spacing: 1px;
  }

  .sub-title {
    font-size: 28px;
    line-height: 100%;
  }

  .description {
    color: rgba($color: #68707d, $alpha: 0.8);//var(--dark-grayish-blue);
    font-size: 16px;
    line-height: 160%;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;

    .sub-wrapper {
      display: flex;
      align-items: center;
    }

    &__tag {
      font-size: 28px;
      font-weight: 700;
      margin-right: 20px;
    }

    &__rate {
      background-color: var(--pale-orange);
      padding: 5px;
      border-radius: 5px;
      color: var(--orange);
      font-weight: 700;
    }

    &__old {
      font-weight: 700;
      color: var(--grayish-blue);
      text-decoration: line-through;
      font-size: 16px;
    }
  }

  .btn {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;

    &__icon {
      margin-right: 20px;
      filter: brightness(0) invert(1); // make svg white
    }

  }

  .control {
    justify-content: space-between;
    background-color: var(--light-grayish-blue);
  }

  .submit {
    justify-content: center;
    background-color: var(--orange);
    color: #fff;
    font-weight: 700;
    box-shadow: 0 10px 20px 5px rgba($color: #ff7d1a, $alpha: 0.2);
  }

  .count {
    font-weight: 700;
  }

}
