<app-slider></app-slider>
<div class="wrapper">
  <h1 class="title">Sneaker company</h1>
  <h2 class="sub-title">Fall Limited Edition Sneakers</h2>
  <p class="description">
    These low-profile sneakers are your perfect casual wear companion. Featuring a
  durable rubber outer sole, they’ll withstand everything the weather can offer.
  </p>
  <div class="price">
    <div class="sub-wrapper">
      <div class="price__tag">$125.00</div>
      <div class="price__rate">50%</div>
    </div>
    <div class="price__old">$250.00</div>
  </div>
  <div class="btn control">
    <img src="../../assets/images/icon-minus.svg" alt="minus icon"/>
    <span class="count">0</span>
    <img src="../../assets/images/icon-plus.svg" alt="plus icon"/>
  </div>
  <div class="btn submit">
    <img class="btn__icon" alt="cart icon" src="../../assets/images/icon-cart.svg"/>
    <span class="btn__text">Add to cart</span>
  </div>
</div>
