<div class="card">
  <div class="card__header"></div>
  <div class="card__body">
    <div class="top">
      <h1 class="title">Order Summary</h1>
      <p>
        You can now listen to millions of songs, audiobooks
        and podcasts on any device, anywhere you like!
      </p>
    </div>

    <div class="price">
      <div class="price__icon">
        <img src="../../assets/images/icon-music.svg"/>
      </div>
      <div class="price__plan">
        <span class="price__plan--label">Annual Plan</span>
        <span class="price__plan--tag">$59.99/year</span>
      </div>
      <div class="price__link">
        <a href="#">Change</a>
      </div>
    </div>

    <div class="btn">Proceed to Payment</div>
    <span class="cancel">Cancel Order</span>
  </div>
</div>
